.compatibility__back{
   background-image: url(../img/background_compatibility.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 444px;
}
