.features__back{
   background-image: url(../img/background_features.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 803px;
  color: white;
}
